#portfolio > h5 {
  font-size: 0.9rem;
  color: var(--color-bg-variant);
  font-weight: 900;
}

#portfolio > h2 {
  font-size: 1.2rem;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.portfolio__item {
  padding: 1rem;
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.portfolio__item:hover {
  background: var(--color-white);
  border-color: var(--color-primary);
}

.portfolio__item-image {
  border-radius: 0.5rem;
  overflow: hidden;
}

.portfolio__item-image > img {
  max-height: 10rem;
}

.portfolio__item > h3 {
  margin: 1.2rem 0 1rem;
  font-size: 1rem;
  color: var(--color-bg-variant);
}

.portfolio__item-cta {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
}

.portfolio__item-cta > a {
  padding: 0.3rem 0.7rem;
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
