#about {
  padding-top: 3rem;
}

#about > h5 {
  font-size: 0.9rem;
  color: var(--color-bg-variant);
  font-weight: 900;
}

#about > h2 {
  font-size: 1.2rem;
}

.about__container {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 10%;
}

.about__me-image {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  margin: 1rem 0 2rem 0;
  background: var(--color-primary-variant);
  padding: 8.5px 0 0 0;
  border: 1px solid black;
  border-radius: 1rem;
  transition: var(--transition);
}

.about__me-image:hover {
  background-color: var(--color-white);
}

.about__me-image > img {
  border-radius: 1rem;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.about__card {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2.5rem;
  transition: var(--transition);
  text-align: center;
}

.about__card:hover {
  border-color: var(--color-primary);
  background: var(--color-white);
  cursor: default;
  color: var(--color-bg);
}

.about__icon {
  color: var(--color-bg-variant);
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.about__card h5 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.about__card h6 {
  font-size: 0.7rem;
  color: var(--color-hover);
}

.about__content {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  font-size: 0.8rem;
  color: var(--color-primary);
}

.animateButton {
  animation: fadeInOut 1.2s infinite;
  border: 1px solid var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    height: fit-content;
    margin: 2rem auto 4rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .about__me {
    height: fit-content;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    background: var(--color-primary);
    color: var(--color-white);
  }
  50% {
    background: var(--color-white);
    color: var(--color-primary) ;
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}