header {
  height: 100vh;
  padding-top: 6rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  position: relative;
  height: 100%;
}

.header__content{
  padding: 2rem 4rem 0 4rem;
}

.header__content>h2{
  font-family: 'Chivo Mono', monospace;
  color: var(--color-primary);
  font-size: 2.7rem;
  line-height: 3rem;
  letter-spacing: 0.02em;
}

.header__content>h3{
  color: var(--color-primary);
  margin-top: 3rem;
  line-height: 2.8rem;
}

.header__content>h1{
  color: var(--color-primary);
  font-family: 'Jim Nightshade', cursive;
  font-weight: 700;
  letter-spacing: 0.07em;
  line-height: 2.8rem;
  font-size: 5rem;
  margin: 1.5rem 0 2rem 0;
}

.header__content>h3{
  margin-top: 1rem;
  color: var(--color-primary);
}

.header__btn{
  width: max-content;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.4rem;
  color: var(--color-white);
  background: var(--color-primary);
  display: inline-block;
  cursor: pointer;
  transition: var(--transition);
}

.header__btn:hover{
  background: var(--color-white);
  color: var(--color-primary);
}

/* .header__content>p{
  max-width: 80%;
  margin: 0 auto;
} */


.header__container > h1 {
  font-family: "Jim Nightshade", cursive;
  font-size: 2.7rem;
}

.cta {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  /* background: linear-gradient(var(--color-primary), transparent); */
  /* background: var(--color-primary); */
  /* background-color: red; */
  margin-top: 4rem;
  width: 22rem;
  left: calc(50% - 11rem);
  height: 35rem;
  position: absolute;
  /* border-radius: 12rem 12rem 1rem 1rem; */
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.me img {
  /* background-color: black; */
  width: 100%;
  height: 100%;
  padding-left: 1.9rem;
  padding-bottom: 10rem;
}

.scroll__down {
  right: -2.3rem;
  position: absolute;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 95%;
    padding-top: 10px;
  }
}
